doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mission Control Screen
  body
    h1 Mission Control: Screen
    h2 Connection Details
    h2 IP Address: #{ip}
    h2 Hostname: #{hostname}
    h2 Cycle: #{enabled} | #{timeSeconds}s