doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mission Control Screen
    style(type='text/css')
      include css/reset.css
      include css/style.css
  body
    .mc-overlay
      .mc-container
        .mc-text
          p.info Welcome to Mission Control!
          p.hostname !{hostname}
          p.ip !{ip}
          p.info Cycling Enabled: !{enabled}
          p.info Cycle Time: !{timeSeconds}s
      